.header__wrapper{
    display:flex;
    width: 100%;
    justify-content: center;
    background-color: var(--orangeColor);
    height:   var(--headerHeight);
    position: fixed;
    


}

.header{
    width: 80%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 0px;
    z-index:1;
}
.header__li{
    text-decoration: none;
    color: var(--whiteColor);
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
    
}
.header__a{
    text-decoration: none;
    cursor: pointer;
}
