/* 
-webkit --> safari
-moz --> mozilla firefox
-ms --> microsoft edge
 */


*{
  margin:0px;
  
  font-family: Arial, Helvetica, sans-serif;

}

:root {
    
    --authtorizationTransition: 400ms;
    --scroll-lock: auto;
  --background: rgb(80, 132, 22);
  --foreground: #171717;
  --whiteColor : white;
  --blackColor : black;
  --blackColorTransparent : rgba(0,0,0,0.5);
  --grayColor: rgb(204,204,204);
  --orangeColor: orange;
  --greenColor : rgb(80, 232, 22);
  --grayColorTransparent : rgba(204,204,204, 0.5);
    --index: calc(1vh + 1vw);
    --headerHeight: calc(5lvh);
  
}

