/* 
-webkit --> safari
-moz --> mozilla firefox
-ms --> microsoft edge
 */


*{
  margin:0px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;

}
:root {
  --background: rgb(80, 132, 22);
  --foreground: #171717;
  
  --index: calc(1vh + 1vw);
  
}

.file__input{
  display: none;
}
.button{
  display: flex;
  width: min-content;
  padding: calc(var(--index)*0.7);
  background-color: var(--foreground);
  color: var(--background);
  
  cursor: pointer;
  -webkit-user-select: none; /* Для Safari */
    -moz-user-select: none;    /* Для Firefox */
    -ms-user-select: none;     /* Для IE/Edge */
    user-select: none;         /* Стандартный */
  
}
.card{
  padding-bottom: 5vh;
}