.main__wrapper{
    background-color: var(--orangeColor);
    display: flex;
    min-height: calc(100lvh - var(--headerHeight));
    justify-content: center;
width: 100%;
cursor: url('/mandarin32.png') 8 8, auto;

}
.main{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 80%;
}

.main__grid__container{
    display: grid;
    width: calc((100vh*0.8));
    aspect-ratio: 1/1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}
.main__grid__container__span{
    text-align: center;
    font-size: calc(var(--index)*4);
    font-weight: 800;
    color:var(--whiteColor);
    font-family: Arial, Helvetica, sans-serif;

}
